:root {
  color-scheme: light;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: sans-serif;
    scroll-behavior: smooth;
    font-size: 1rem;
}
main{
    width: 60%;
    margin: auto;
    background-color: rgb(255, 255, 255);
}
@media (max-width: 1200px) {
    main{
        width: 100%;
    }
}
@font-face {
    font-family: "pokinca";
    src: url('/fonts/pokinca/pokinca.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "open";
    src: url("/fonts/Open_Sans/OpenSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "taso";
    src: url("/fonts/TASA_Orbiter/tasa.ttf") format("truetype");
    font-style: normal;
}