.destaque-item {
    margin-bottom: 1.5em;
}

.item-produto {
    padding: 0 0.8em;
}

.item-produto>h2 {
    font-size: 1.2rem;
    font-family: "open", sans-serif;
    font-weight: normal;
    text-align: center;
}

.list-destaques {
    margin-top: 1em;
    list-style: none;
    display: flex;
    gap: 1em;
    overflow: auto;
    padding: 0.5em;
    font-size: 0.8em;
}
.description-item-destaque{
    padding: 0.8em;
}
.description-item-destaque h3{
    font-weight: normal;
}
.foto-destaque {
    border-radius: 20px;
}

.foto-item {
    border-radius: 10px;
}

.item-destaque {
    padding: 0.5em;
    border-radius: 20px;
    width: max-content;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 2px 1px rgb(218, 218, 218);
}

.section-bebidas {
    padding-bottom: 8em;
}

.img-bebida {
    border-radius: 10px;
}

.list-bebidas {
    font-family: "open", sans-serif;
    font-size: 0.9em;
}

.itens-bebidas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 1em;
    margin-bottom: 1.5em;
    border-radius: 10px;
    box-shadow: 0px 2px 0px 1px rgba(220, 220, 220, 0.514);
}

.descricao-bebidas {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.descricao-bebidas span {
    margin-bottom: 1em;
}

.btn-bebidas {
    width: 10em;
    margin-top: auto;
    margin-right: auto;
    background-color: rgb(157, 2, 204);
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    padding: 0.3em;
    border-radius: 5px;
    font-size: 0.9em;
    font-family: "open", sans-serif;
    font-weight: bold;
}